* {
  margin: 0;
  padding: 0;
}
.ul {
  list-style-type: none;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
  margin: 0 auto;
  background-color: #2f303a;
  justify-content: center;
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 100%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../images/efektywne.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner__text {
  display: flex;
  margin: 0;
  font-weight: 900;
  font-size: 26px;
  color: #ffffff;
  line-height: 42px;
  letter-spacing: 0.06em;
  width: 365px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 30px;
}
.banner__button {
  cursor: pointer;
  width: 200px;
  letter-spacing: 0.06em;
  height: 50px;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
  .banner {
    height: 600px;
    max-width: 1600px;
  }
  .banner__text {
    font-size: 44px;
    height: 120px;
    width: 696px;
    line-height: 60px;
  }
}
.container {
  width: 480px;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.advantages {
  margin-top: 60px;
  margin-bottom: 60px;
}
.advantages ul {
  padding-left: 0;
}

.advantages__list {
  margin-left: auto;
  margin-right: auto;
}
.advantages__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advantages__icon {
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.advantages__title {
  width: 270px;
  height: 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.advantages__description {
  width: 450px;
  height: 50px;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .advantages__element {
    width: 354px;
  }
  .advantages__description {
    width: 354px;
    height: 75px;
  }
  .advantages__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    margin-top: 94px;
  }
  .advantages__element {
    height: 251px;
    width: 270px;
  }
  .advantages__list {
    width: 1170px;
    height: 251px;
    padding: 0;
    margin: 0;
  }
  .advantages__description {
    width: 270px;
    height: 75px;
    margin-bottom: 0;
  }
  .advantages__icon {
    width: 270px;
  }
  .advantages__title {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.abilities {
  display: none;
}
@media screen and (min-width: 1200px) {
  .abilities {
    padding-bottom: 94px;
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }
  .abilities .container {
    flex-direction: column;
    margin: 0 auto;
  }
  .abilities h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 95%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }
  .abilities__list {
    display: flex;
    justify-content: space-between;
    width: 1170px;
  }
  .abilities__image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .abilities__image figcaption {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
.team {
  margin-top: 0px;
  background: #f5f4fa;
  flex-direction: column;
  justify-content: flex-start;
  background: #f5f4fa;
  display: flex;
}
.team__title {
  margin-top: 60px;
  width: 163px;
  height: 33px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: nowrap;
  margin-bottom: 14px;
}
.team__list {
  display: flex;
  padding: 0;
  gap: 30px;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: 15px;
}
.team__card {
  width: 450px;
  height: 622px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
}
.team .container {
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 45px;
}
.team__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.team__name {
  font-family: "Roboto";
  font-style: normal;
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__role {
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
.team__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
  height: 44px;
}
.team__item {
  display: flex;
  height: 44px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon {
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .team__card {
    width: 354px;
    height: 536px;
  }
  .team_card img {
    width: 270px;
    height: 260px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: 270px;
    height: 428px;
  }
  .team_card img {
    width: 270px;
    height: 260px;
  }
  .team .container {
    padding-bottom: 94px;
  }
  .team__list {
    margin-left: 0;
  }
}
.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
.customers ul {
  list-style-type: none;
}
.customers .container {
  flex-direction: column;
}
.customers__title {
  margin-bottom: 30px;
  width: 314px;
  height: 33px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.customers__list {
  max-width: 450px;
  height: 336px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  padding: 0;
}
.customers__item {
  width: 210px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.customers__icon {
  fill: #afb1b8;
}
@media screen and (min-width: 768px) {
  .customers__list {
    max-width: 738px;
    height: 214px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__list {
    max-width: 1170px;
    width: 1170px;
    height: 92px;
    flex-wrap: nowrap;
  }
  .customers__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
  .customers__item {
    width: 170px;
    height: 92px;
  }
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer {
  display: flex;
  background-color: #2f303a;
}
.footer__width {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 134px;
}
.logo__font {
  display: inline-flex;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo__second-part--footer {
  color: #fff;
}
.footer__adress {
  width: 251px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  color: #ffffff;
}
.footer__mail {
  width: 232px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer__tel {
  width: 232px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer__socials {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.footer__text {
  width: 146px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__socials .team__socials .team__item {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__socials svg {
  fill: #fff;
}
.footer__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.footer__newsletter h3 {
  width: 207px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__newsletter form input {
  color: #fff;
  width: 450px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 16px;
  margin-top: 20px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer__newsletter form button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: #2f303a;
  color: #fff;
  cursor: pointer;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  outline: none;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer__newsletter form button svg {
  margin-left: 24px;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    margin-left: 144px;
  }
  .footer__tablet {
    display: flex;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__width {
    flex-direction: row;
    width: 1170px;
    align-items: center;
  }
  .footer__newsletter form {
    flex-direction: row;
  }
  .footer .container {
    width: auto;
  }
  .footer__newsletter {
    margin-left: 78px;
    align-items: flex-start;
  }
  .footer__contact {
    align-items: normal;
  }
  .logo__font {
    text-align: left;
  }
  .footer__adress,
  .footer__mail,
  .footer__tel {
    text-align: left;
  }
  .footer__newsletter form button {
    margin-left: 12px;
  }
  .footer__socials {
    margin-left: 70px;
  }
  .footer__newsletter form input {
    width: 358px;
  }
  .footer__adress {
    width: 246px;
  }
  .footer__newsletter h3 {
    text-align: left;
  }
}

.header {
  height: 60px;
  border-bottom: 1px solid #ececec;
  display: flex;
}
.header__nav {
  visibility: hidden;
}
.header__contact {
  visibility: hidden;
}
.header .logo__font .logo__second-part {
  color: #212121;
}
.header .logo__font {
  margin-left: 15px;
}
.header-menu__hamburger {
  display: flex;
  width: 40px;
  height: 40px;
}
.header-menu__hamburger-btn {
  border: hidden;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header .container {
    justify-content: space-between;
  }
  .header__nav {
    visibility: visible;
    width: 282px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
    padding: 0;
    list-style-type: none;
  }
  .header__site--current-agency {
    color: #2196f3;
  }
  .header__contact {
    visibility: visible;
  }
  .header-menu__hamburger {
    visibility: hidden;
    display: none;
  }
  .header__site {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
  }
  .header .logo__font {
    margin-left: 0;
  }
  .header__contact {
    display: flex;
    flex-direction: column;
  }
  .header__mail {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    margin-bottom: 10px;
  }
  .header__tel {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .header__mail svg {
    fill: #757575;
    margin-right: 8px;
  }
  .header__tel svg {
    fill: #757575;
    margin-right: 8px;
  }
  .header__site--current-agency {
    color: #2196f3;
  }
  .header__site--current-agency::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 53px;
    left: 0px;
    top: 45px;
    background-color: #2196f3;
    border-radius: 2px;
  }

}

@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
  }
  .header .logo {
    margin-right: 93px;
  }
  .header .container {
    justify-content: space-between;
  }
  .header__contact {
    flex-direction: row;
  }
  .header__nav {
    margin-right: 350px;
  }

  .header__mail {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-right: 30px;
  }
  .header__tel {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

.backdrop_menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms linear;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms linear;
}
.menu {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu__close-btn {
  position: absolute;
  left: 90.8%;
  top: 21px;
  background-color: #fff;
  border: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__close-btn:focus svg,
.menu__close-btn:hover svg {
  fill: #2196f3;
}

.menu__tabs {
  margin-left: 40px;
  padding-top: 48px;
  width: 200px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 302px;
  list-style-type: none;
}

.menu__tab-element {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu__tab-element--current {
  color: #2196f3;
}

.menu__tab-element a {
  text-decoration: none;
  color: inherit;
}

.menu__tab-element a:visited {
  color: inherit;
}

.menu__reach {
  height: 100px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__tel {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.menu__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu__social {
  width: 357px;
  margin-left: 40px;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menu__social-link {
  text-decoration: none;
  color: #2196f3;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
}

.menu__social :nth-child(2)::before,
.menu__social :nth-child(3)::before,
.menu__social :nth-child(4)::before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg) translate(9px, 20px);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}
