/*.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms linear;
}*/

.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop_menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms linear;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms linear;
}
.menu {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 796px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  button:hover {
    background-color: transparent;
    box-shadow: none;
  }
  button:focus {
    background-color: transparent;
    box-shadow: none;
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: #fff;
    border: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus svg {
      fill: #2196f3;
    }
    &:hover svg {
      fill: #2196f3;
    }
  }
  &__tabs {
    margin-left: 40px;
    padding-top: 48px;
    width: 200px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 302px;
    list-style-type: none;
  }
  &__tab-element {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;

    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      &:visited {
        color: inherit;
      }
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        color: #2196f3;
      }
      &:focus {
        color: #2196f3;
      }
    }
    &--current {
      color: #2196f3;
    }
  }
  &__reach {
    height: 100px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__tel {
    text-decoration: none;
    color: #2196f3;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
  &__mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  &__social {
    width: 357px;
    margin-left: 40px;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    &-link {
      text-decoration: none;
      color: #2196f3;
      font-family: Roboto;
      font-weight: 500;
      font-size: 18px;
      line-height: 122%;
      letter-spacing: 0.02em;
    }
    :nth-child(2)::before,
    :nth-child(3)::before,
    :nth-child(4)::before {
      content: "";
      display: block;
      position: absolute;
      width: 22px;
      height: 0px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg) translate(9px, 20px);
    }
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}
