/*.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
  justify-content: center;
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 100%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../images/efektywne.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  &__text {
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 136%;
    letter-spacing: 0.06em;
    width: 696px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #2196f3;
    color: white;
  }
}
*/

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  margin: 0 auto;
  background-color: #2f303a;
  justify-content: center;
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 100%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../images/efektywne.jpg");

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4) 100%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(../images/efektywne@2x.jpg);
  }

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  &__text {
    display: flex;
    margin: 0;
    font-weight: 900;
    font-size: 26px;
    color: #ffffff;
    line-height: 42px;
    letter-spacing: 0.06em;
    width: 365px;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 30px;
  }
  &__button {
    cursor: pointer;
    width: 200px;
    letter-spacing: 0.06em;
    height: 50px;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #2196f3;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }
}
@media screen and (max-width: 480px) {
  .banner {
    width: 480px;
  }
}
@media screen and (min-width: 481px) {
  .banner {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
  .banner {
    height: 600px;
    max-width: 1600px;
    &__text {
      font-size: 44px;
      height: 120px;
      width: 696px;
      line-height: 60px;
    }
  }
}
