* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 500;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 26px;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:hover {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.section {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}
/*.container {
  display: flex;
  flex-direction: column;
}*/

.container {
  width: 480px;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
